#
#	php%MM%-fpm.service
#
[Unit]
Description=The PHP%MMS% FastCGI Process Manager
Documentation=man:php%MM%-fpm(8)
After=network.target

[Service]
Type=notify
PIDFile=/run/php/php%MM%-fpm.pid
ExecStart=/usr/sbin/php%MM%-fpm --nodaemonize --fpm-config /etc/php%MMD%/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
