Package: %NAME%
Version: %VERSION%
Architecture: amd64
Maintainer: Cedric <c.girard@epiconcept.fr>
Depends: %DEPS%
Provides: php-cli, phpapi-%PHPAPI%
Conflicts: php5-cli, php7.0-cli, php7.1-cli, php7.2-cli%CFL%
Section: admin
Priority: optional
Description: PHP CLI build by Epiconcept
 This package provides the PHP Command Line Interface
