.debug
.norun
php/.notest
debian/*/.noupd
debian/*/dist
debian/*/multi
debian/*/repo
php/5/files/5.2/srv
php/[5-9]/files/*.tgz
php/[5-9]/[5-9].*/php-*.tar.bz2
php/[5-9]/[5-9].*/php-*.files
tests/*/dist
archive/
update.log/
work/
log
debs
