Package: %NAME%
Version: %VERSION%
Architecture: amd64
Maintainer: Cedric <c.girard@epiconcept.fr>
Depends: %CLI%, libc-client2007e, libc6
Conflicts: php5-imap
Section: admin
Priority: optional
Description: PHP IMAP extension build by Epiconcept
 This package provides the PHP IMAP shared extension
