Package: %NAME%
Version: %VERSION%
Architecture: all
Maintainer: Cedric <c.girard@epiconcept.fr>
Depends: php-cli
Provides: php-pear, php-console-getopt, php-structures-graph, php-xml-util
Conflicts: php-pear
Section: admin
Priority: optional
Description: PHP PEAR build by Epiconcept
 This package provides the base system of the
 PHP Extension and Application Repository
