Package: %NAME%
Version: %VERSION%
Priority: optional
Architecture: amd64
Section: admin
Depends: %DEPS%
Conflicts: php7.0-cli, php7.1-cli, php7.2-cli, php5-cli
Maintainer: cedric <c.girard@epiconcept.fr>
Description: PHP CLI build by Epiconcept
 This package provides the PHP Command Line Interface
