Package: %NAME%
Version: %VERSION%
Priority: optional
Architecture: amd64
Section: admin
Depends: apache2, %CLI%, libc6
Conflicts: php7.1, php7.0, php5
Maintainer: Cedric <c.girard@epiconcept.fr>
Description: PHP Apache module build by Epiconcept
 This package provides the PHP module for the Apache 2 webserver
