Package: epi-php-7-1
Version: 7.1.11
Priority: optional
Architecture: amd64
Section: admin
Depends: libjpeg62-turbo, libpng16-16, libxml2, make, pkg-config, bzip2, apache2-dev, apache2, libmcrypt-dev, libmhash-dev, libxslt1-dev, libxpm-dev, tar, build-essential, curl, libbz2-dev, libfreetype6-dev, default-libmysqlclient-dev, libcurl4-openssl-dev, libjpeg-dev, libpng-dev, libreadline6-dev, libssl-dev, libxml2-dev
Conflicts: php7.0, php5
Maintainer: cedric <c.girard@epiconcept.fr>
Description: PHP build par Epiconcept
