Package: %NAME%
Version: %VERSION%
Architecture: amd64
Maintainer: Cedric <c.girard@epiconcept.fr>
Depends: apache2, %API%, %CLI%, libc6, epiconcept-arborescence
Provides: libapache2-mod-php, phpapi-%PHPAPI%
Conflicts: libapache2-mod-php, php-fpm
Section: admin
Priority: optional
Description: PHP Apache module build by Epiconcept
 This package provides the PHP module for the Apache 2 webserver
