Package: %NAME%
Version: %VERSION%
Architecture: amd64
Maintainer: Cedric <c.girard@epiconcept.fr>
Depends: %CLI%, libc6
Section: admin
Priority: optional
Description: PHP MySQL extension build by Epiconcept
 This package provides the PHP MySQL shared extension
